[submodule "roles/ansible-role-ruby-amazon-linux"]
	path = roles/ansible-role-ruby-amazon-linux
	url = git@github.com:yukihiko-shinoda/ansible-role-ruby-amazon-linux.git
[submodule "roles/ansible-role-cleaning-amazon-linux"]
	path = roles/ansible-role-cleaning-amazon-linux
	url = git@github.com:yukihiko-shinoda/ansible-role-cleaning-amazon-linux.git
[submodule "roles/ansible-role-git-amazon-linux"]
	path = roles/ansible-role-git-amazon-linux
	url = git@github.com:yukihiko-shinoda/ansible-role-git-amazon-linux.git
[submodule "roles/ansible-role-host-name-and-ssl-amazon-linux"]
	path = roles/ansible-role-host-name-and-ssl-amazon-linux
	url = git@github.com:yukihiko-shinoda/ansible-role-host-name-and-ssl-amazon-linux.git
[submodule "roles/ansible-role-mysql5.7-amazon-linux"]
	path = roles/ansible-role-mysql5.7-amazon-linux
	url = git@github.com:yukihiko-shinoda/ansible-role-mysql5.7-amazon-linux.git
